a:hover {
    color: #fff;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
a svg {
    fill: currentColor;
}

.svg-button:hover {
    opacity: 1;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}

.svg-bg {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

.svg-link:hover {
    opacity: 1;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
